.console-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.console-window {
    width: 800px; /* Update terminal width */
    height: 400px; /* Update terminal height */
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-family: 'Monaco', monospace; /* Use a retro terminal font */
    overflow-y: scroll;
    border: 1px dotted #fff; /* Add dotted border for contrast */
    scrollbar-width: thin; /* Add custom styles for scrollbar */
    scrollbar-color: #fff #000; /* Add custom styles for scrollbar */
}

.console-window::-webkit-scrollbar {
    width: 8px; /* Update scrollbar width */
}

.console-window::-webkit-scrollbar-thumb {
    background-color: #fff; /* Update scrollbar thumb color */
    border-radius: 8px; /* Update scrollbar thumb border radius */
}

.console-input {
    padding: 10px;
}

.console-input input {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.console-input input::placeholder {
    color: #999;
}

.console-input input:focus {
    outline: none;
}

.console-input input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #000; /* Update the color for autofill */
}

.console-input input:-webkit-autofill::placeholder {
    color: #999;
}

.console-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.console-button:hover {
    background-color: #ff6b6b; /* Update hover background color */
}
